.footer, .about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.home-header, .home-description {
    display: flex;
    justify-content: center;
}

.about-body {
    background-color: rgb(60, 101, 145);
}

.about-hr {
    text-align: center;
}

.about-img {
    max-width: 600px;
    max-height: 350px;
    border-radius: 40%;
    margin-top: 10px;
    margin-bottom: 39px;
    border: 1px black solid;
}

.form-container {
    /* centers the form field */
    margin: 0 auto;
    width: 50%;
}

.footer {
    margin-top: 35px;
}